<!-- views/partials/footer.ejs -->
<!-- <footer class="footer">
    <p>© 2020 El sitio del profe Barrón.</p>
    <i class="fab fa-twitter"></i>
    <a class="twitter-share-button" href="https://twitter.com/intent/tweet">Tweet</a>
</footer>   -->

<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-6 mb-5 mb-lg-0">
                
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/ubicacion"><i class="fas fa-globe fa-3x"></i><h2>Localizacion</h2></a>
                <p class="lead mb-0">
                    Calle Tamaulipas #50
                    <br />
                    Dolores Hidalgo, Guanajuato
                </p>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-6 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Sigueme en mis redes</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-facebook-f"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://twitter.com/intent/tweet"><i class="fab fa-fw fa-twitter"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-instagram"></i></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-google"></i></a>
            </div>           
        </div>
    </div>
</footer>