<!-- views/partials/footer.ejs -->
<!-- <footer class="footer">
    <p>© 2020 El sitio del profe Barrón.</p>
    <i class="fab fa-twitter"></i>
    <a class="twitter-share-button" href="https://twitter.com/intent/tweet">Tweet</a>
</footer>   -->

<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/ubicacion"><i class="fas fa-globe fa-3x"></i><h2>Localizacion</h2></a>
                <p class="lead mb-0">
                    Calle Tamaulipas #50
                    <br />
                    Dolores Hidalgo, Guanajuato
                </p>
            </div>
            <!-- Footer Paypal-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h3>Apoyame con una donación</h3>
                <div id="smart-button-container">
                    <div style="text-align: center;">
                      <div id="paypal-button-container"></div>
                    </div>
                  </div>
                <script src="https://www.paypal.com/sdk/js?client-id=sb&currency=MXN" data-sdk-integration-source="button-factory"></script>
                <script>
                  function initPayPalButton() {
                    paypal.Buttons({
                      style: {
                        shape: 'pill',
                        color: 'gold',
                        layout: 'vertical',
                        label: 'paypal',
                        
                      },
              
                      createOrder: function(data, actions) {
                        return actions.order.create({
                          purchase_units: [{"amount":{"currency_code":"MXN","value":100}}]
                        });
                      },
              
                      onApprove: function(data, actions) {
                        return actions.order.capture().then(function(details) {
                          alert('Transaction completed by ' + details.payer.name.given_name + '!');
                        });
                      },
              
                      onError: function(err) {
                        console.log(err);
                      }
                    }).render('#paypal-button-container');
                  }
                  initPayPalButton();
                </script>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h3>Sigueme en Twitter</h3><br>
                <div>
                    <a href="https://twitter.com/AlexSoriaM?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @TwitterDev</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>           
        </div>
    </div>
</footer>