<!-- views/partials/footer.ejs -->
<footer class="footer">
    <p>© 2020 El sitio del profe Barrón.</p>
    <i class="fab fa-twitter"></i>
    <a class="twitter-share-button" href="https://twitter.com/intent/tweet">Tweet</a>
   </footer>