<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        
    <h1>Acerca de Manuel Alejandro Soria Marquez</h1>

    <img src="/images/newyork.jpg" width="500" height="400">

    <h2>Tengo 24 años y quiero dedicarme a administrar bases de datos, porque es algo que me gusta y se me da bien, me gusta mucho hacer deporte y jugar futbol</h1>
    <h2>Tengo una hija de casi 6 años, soy de Dolores Hidalgo. Ya antes habia estudiado la carrera de Mecatronica pero no fue lo que esperaba y por razon quize estudiar desarrollo de software</h1>
    
      <a class="btn btn-primary btn-lg" href="/" role="button">Regresar</a>
  </body>
  <footer>
    <%- include('partials/footer'); %>
</footer>
</html>