<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('partials/head'); %>
  
</head>

<body>
  <%- include('partials/navbar'); %>

  <div class="jumbotron">
    <h1 class="display-4">Bienvenido a NodeJS & Express</h1>
    <p class="lead">Este es un ejemplo basico</p>
    <hr class="my-4">
    <p>Mi primer sitio basico con Express.</p>
    <img src="/images/nodejs.png" width="400" height="300"><br>

    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>

  <%- include('partials/script'); %>
</body>
<footer>
  <%- include('partials/footer'); %>
  
</footer>

</html>